.logo{
    width: 80px;
}

/*Pag login*/
.entrar {
    color: #fff;
    margin: auto;
    width: 60%;
}

.container{
    margin: 5rem;
}

.margin-left{
    margin-left: 5em;
}
/*Fim Pag login*/


/*Pag Musicas*/
#card{
    max-width: 100vh;
}

.container-music{
    margin: 1.5rem;
}

.p-justify{
    text-align: justify;
}
/*Fim Pag Musicas*/