/*Alteracoes Gerais*/
.logo{
    width: 80px;
}
.top {
    margin-top: 2.5em;
    
}

.github{
    width: 32px;
}

.p-justify{
    text-align: justify;
}

.logo-footer{
    width: 150px;
}
/*Fim Alteracoes Gerais*/

/*Pag index*/
#max-tamanho{
    max-width: 328px;
    max-height: 328px;
}


/*Carousel*/
.carousel{
    width: 100%;
}

.carousel-item{
    top: 0;
    left: 0;
    height: 70vh;
    max-height: 70vh;
}
/*Fim Carousel*/

/*Pag index*/


/*Pag login*/
.entrar {
    color: #fff;
    margin: auto;
    width: 60%;
}

.container{
    margin-top: 5rem;
}

.margin-left{
    margin-left: 5em;
}
/*Fim Pag login*/


/*Pag galeria*/
.margin-20{
    margin: 20px;
}
/*Pag galeria*/


/*Pag Musicas*/
#card{
    max-width: 100vh;
}

.container-music{
    margin: 1.5rem;
}
/*Fim Pag Musicas*/


/*Footer*/
.branco{
    color: #fff;
}

/*Fim Footer*/